#res {
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #636161;
    width: 200px;
    height: 28px;
    margin: 5px;
}

.btn {
    width: 50px;
    height: 40px;
    background-color:  $background-btn;
    color: $color-btn;
    padding: 10px;
    &:hover{
        background-color: black;
    }
    &.especial {
        color: $color-bnt-especial;
    }
}